@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 font-sans antialiased selection:bg-indigo-500/30;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-slate-900/50 backdrop-blur-xl border border-slate-800/50 shadow-xl;
  }

  .glass-input {
    @apply bg-slate-950/50 border-slate-800 focus:border-indigo-500/50 focus:ring-1 focus:ring-indigo-500/50 placeholder:text-slate-600 transition-all duration-300;
  }
}